<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 pb-6">
    <div class="w-full max-w-sm mx-auto p-6 bg-white bg-opacity-60 backdrop-blur-3xl rounded-xl shadow-xl">
        <div class="text-center">
            <h2 class="text-3xl font-bold mb-4">Password Based Authentication</h2>
            <button
                class="px-6 py-3 bg-blue-600 hover:bg-blue-700 text-white font-semibold rounded-lg transition duration-200">
                <a href="/password-based/login">Login</a>
            </button>
        </div>
    </div>

    <div class="w-full max-w-sm mx-auto p-6 bg-white bg-opacity-60 backdrop-blur-3xl rounded-xl shadow-xl">
        <div class="text-center">
            <h2 class="text-3xl font-bold mb-4">Two Factor Authentication</h2>
            <button
                class="px-6 py-3 bg-blue-600 hover:bg-blue-700 text-white font-semibold rounded-lg transition duration-200">
                Login
            </button>
        </div>
    </div>

    <div class="w-full max-w-sm mx-auto p-6 bg-white bg-opacity-60 backdrop-blur-3xl rounded-xl shadow-xl">
        <div class="text-center">
            <h2 class="text-3xl font-bold mb-4">Multi-Factor Authentication</h2>
            <button
                class="px-6 py-3 bg-blue-600 hover:bg-blue-700 text-white font-semibold rounded-lg transition duration-200">
                Login
            </button>
        </div>
    </div>

    <div class="w-full max-w-sm mx-auto p-6 bg-white bg-opacity-60 backdrop-blur-3xl rounded-xl shadow-xl">
        <div class="text-center">
            <h2 class="text-3xl font-bold mb-4">Biometric Authentication</h2>
            <button
                class="px-6 py-3 bg-blue-600 hover:bg-blue-700 text-white font-semibold rounded-lg transition duration-200">
                Login
            </button>
        </div>
    </div>

    <div class="w-full max-w-sm mx-auto p-6 bg-white bg-opacity-60 backdrop-blur-3xl rounded-xl shadow-xl">
        <div class="text-center">
            <h2 class="text-3xl font-bold mb-4">Token Based Authentication</h2>
            <button
                class="px-6 py-3 bg-blue-600 hover:bg-blue-700 text-white font-semibold rounded-lg transition duration-200">
                Login
            </button>
        </div>
    </div>
    <div class="w-full max-w-sm mx-auto p-6 bg-white bg-opacity-60 backdrop-blur-3xl rounded-xl shadow-xl">
        <div class="text-center">
            <h2 class="text-3xl font-bold mb-4">Certificate Based Authentication</h2>
            <button
                class="px-6 py-3 bg-blue-600 hover:bg-blue-700 text-white font-semibold rounded-lg transition duration-200">
                Login
            </button>
        </div>
    </div>
    <div class="w-full max-w-sm mx-auto p-6 bg-white bg-opacity-60 backdrop-blur-3xl rounded-xl shadow-xl">
        <div class="text-center">
            <h2 class="text-3xl font-bold mb-4">Single Sign-On (SSC)</h2>
            <button
                class="px-6 py-3 bg-blue-600 hover:bg-blue-700 text-white font-semibold rounded-lg transition duration-200">
                Login
            </button>
        </div>
    </div>
    <div class="w-full max-w-sm mx-auto p-6 bg-white bg-opacity-60 backdrop-blur-3xl rounded-xl shadow-xl">
        <div class="text-center">
            <h2 class="text-3xl font-bold mb-4">Smart Card Authentication</h2>
            <button
                class="px-6 py-3 bg-blue-600 hover:bg-blue-700 text-white font-semibold rounded-lg transition duration-200">
                Login
            </button>
        </div>
    </div>
    <div class="w-full max-w-sm mx-auto p-6 bg-white bg-opacity-60 backdrop-blur-3xl rounded-xl shadow-xl">
        <div class="text-center">
            <h2 class="text-3xl font-bold mb-4">OAuth/OpenID Connect</h2>
            <button
                class="px-6 py-3 bg-blue-600 hover:bg-blue-700 text-white font-semibold rounded-lg transition duration-200">
                Login
            </button>
        </div>
    </div>
    <div class="w-full max-w-sm mx-auto p-6 bg-white bg-opacity-60 backdrop-blur-3xl rounded-xl shadow-xl">
        <div class="text-center">
            <h2 class="text-3xl font-bold mb-4">Behavioural Authentication</h2>
            <button
                class="px-6 py-3 bg-blue-600 hover:bg-blue-700 text-white font-semibold rounded-lg transition duration-200">
                Login
            </button>
        </div>
    </div>
</div>