<div class="flex flex-wrap gap-8 justify-center items-center">
    <div class="w-full max-w-lg p-6 bg-white bg-opacity-60 backdrop-blur-3xl rounded-xl shadow-xl">
        <div class="text-center">
            <h2 class="text-3xl font-bold mb-4">Password Based Authentication</h2>
            <a href="/password-based/login">
                <button
                    class="px-6 py-3 bg-blue-600 hover:bg-blue-700 text-white font-semibold rounded-lg transition duration-200">
                    Login
                </button>
            </a>
        </div>
    </div>

    <div class="w-full max-w-lg p-6 bg-white bg-opacity-60 backdrop-blur-3xl rounded-xl shadow-xl">
        <div class="text-center">
            <h2 class="text-3xl font-bold mb-4">Two Factor Authentication</h2>
            <a href="/2fa">
                <button
                    class="px-6 py-3 bg-blue-600 hover:bg-blue-700 text-white font-semibold rounded-lg transition duration-200">
                    Login
                </button>
            </a>
        </div>
    </div>

    <div class="w-full max-w-lg p-6 bg-white bg-opacity-60 backdrop-blur-3xl rounded-xl shadow-xl">
        <div class="text-center">
            <h2 class="text-3xl font-bold mb-4">Token Based Authentication</h2>
            <a href="/token-based">
                <button
                    class="px-6 py-3 bg-blue-600 hover:bg-blue-700 text-white font-semibold rounded-lg transition duration-200">
                    Login
                </button>
            </a>
        </div>
    </div>

    <div class="w-full max-w-lg p-6 bg-white bg-opacity-60 backdrop-blur-3xl rounded-xl shadow-xl">
        <div class="text-center">
            <h2 class="text-3xl font-bold mb-4">OAuth/OpenID Connect</h2>
            <a href="/auth/google">
                <button
                    class="px-6 py-3 bg-blue-600 hover:bg-blue-700 text-white font-semibold rounded-lg transition duration-200">
                    Login
                </button>
            </a>
        </div>
    </div>
</div>