<div class="flex flex-col items-center justify-center px-6 py-8 mx-auto mb-6 lg:py-0">
    <div
        class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
            <h1 class="text-xl font-bold leading-tight tracking-tight md:text-2xl text-center underline">
                Sign in to your account </h1>
            <% if (message) { %>
                <div class="p-4 mb-4 text-center text-white bg-green-600 rounded-lg font-bold">
                    <%= message %>
                </div>
                <% } %>
                    <form class="space-y-4 md:space-y-6" action="/2fa/login-user" method="post">
                        <div>
                            <label for="email" class="block mb-2 text-base font-medium">Your
                                email</label>
                            <input type="email" name="email" id="email"
                                class="bg-gray-50 text-white border border-gray-300 text-base rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="name@company.com" required>
                        </div>
                        <div>
                            <label for="password"
                                class="block mb-2 text-base font-medium dark:text-white">Password</label>
                            <input type="password" name="password" id="password" placeholder="••••••••"
                                class="bg-gray-50 text-white border border-gray-300 text-base rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                required>
                        </div>
                        <button type="submit"
                            class="w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-base px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Login
                            User</button>
                        <p class="text-base font-light text-gray-500 dark:text-gray-400">
                            Don’t have an account yet? <a href="/2fa/register"
                                class="font-medium text-blue-600 hover:underline dark:text-blue-500">Sign up
                            </a>
                        </p>
                    </form>
        </div>
    </div>
</div>